/* Tables customization */

table form {
    margin: 0;
}

tr.datatable-row {
    border-bottom: 1px solid #EBEDF3;
}

.table-bordered {
    text-align: center;
}

.table-bordered th, .table-bordered td {
    vertical-align: middle;
}

.table th, .table td{
    padding: 0.5rem;
}

.checkbox > span {
    margin: auto;
}

/* End Tables customization */

/* Permissions checkboxes */
.checkbox.checkbox-outline.checkbox-primary > span{
    margin: 0;
}

/* End Permissions checkboxes */


/* Show fields */

.form-group.show {
    float: left;
}

.form-group.show {
    display: flex;
    min-width: 48%;
    background: #efefef;
    padding: 10px;
    margin-right: 1rem;
    border: 2px solid #e4e4e4;
    border-radius: 5px;
}

.form-group.show label {
    margin-right: 1rem;
    margin-bottom: 0;
    font-weight: 700;
}

.form-group.show p {
    margin-bottom: 0;
}

.sidebar .sidebar-minimizer {
    display: none;
}


/* End Show fields */
